
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --background: violet;
    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #main{
        background: chocolate;
        width: 70%;
        padding: 10px;
    }
    #container {
    display: grid;
    margin: 0 auto;
    width: 50%;
    height: 600px;
    background: cornflowerblue;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    }

